.App {
    background: #fff;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-template-rows: 100px auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: stretch;
}

.App-navigation {
    padding: 10px;
    color: rgb(51, 51, 51);
}

.App-sidebar {
    background: rgba(255, 255, 255, 0.9);
    display: relative;
    padding: 16px;
    width: 240px;
}

.App-sidebar img {
    max-width: 100%;
}

.App-navigation h1 {
    font-size: 36pt;
    margin-bottom: -35px;
    color: rgb(51, 51, 51);
}

h1 {
    color: rgb(51, 51, 51);
}

.Article-title {
    font-size: 2em;
}

.App-navigation {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.App-links {
    grid-column: 4;
    display: flex;
    align-items: right;
    justify-content: space-between;
    cursor: pointer;
    color: rgb(51, 51, 51);
}

.App-navigation a {
    font-size: 14pt;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
    padding-right: 15px;
}

.App-mainContent {
    grid-column: 2 / span 1;
}


