.Blog {
  display: flex;
}

.Posts {
  flex: 4;
  margin-top: 0px;
}

.DailyPrompt {
  font-size: 16px;
  font-style: italic;
  padding:  15px 30px 15px 30px;
  line-height: 1.6;
  background-color: #ece9e9;
}

.PromptsTitle {
  font-style: italic;
  font-variant: small-caps;
  padding:  10px 10px 10px 10px;
  text-align: center;
}
.Blog-article {
  background: white;
  padding: 16px;
  margin: 16px;
  position: relative;
  border-radius: 8px;
  box-shadow: 2px 4px 8px #cfcfcf;
}

.Blog-article:hover {
  margin-bottom: 16px;
  box-shadow: 4px 6px 18px #A0A0A0;
  transition: .4s;
}

.Blog-articleActions > div {
  display: inline-block;
  position: absolute;
  top: 16px;
  cursor: pointer;
  user-select: none;
}

.Blog-articleActions > div:first-child {
  right: 16px;
}

.Blog-articleActions > div:last-child {
  left: 16px;
}

.Dates {
  /* grid-column: 2 / span 1;   */
  flex: 2;
}