@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.LandingPage-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LandingPage a {
  color: #6aa4c8;
}

.DailyQuestion {
  background: white;
  padding: 16px;
  position: relative;
  border-radius: 8px;
  box-shadow: 2px 4px 8px #cfcfcf;
  font-size: 18px;
  
}
.WriteArticle textarea{
  width: 800px;
}

.LandingPage-DailyPrompt {
  font-size: 16px;
  font-style: italic;
  padding:  15px 30px 15px 30px;
  line-height: 1.6;
  background-color: #ece9e9;
}

.LandingPage-PromptHeader{
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}

.LandingPage-StoryHeader{
  font-size: 18px;
  margin-top: 50px;
  font-weight: 700;
}
.LandingPage-input {
  border: 1px solid grey;
  width: 350px;
}

