.LandingPage {
  text-align: center;
}

.LandingPage-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LandingPage a {
  color: #61dafb;
}
.Hero {
  font-size: 120px;
}

.DailyQuestion {
  background: white;
  padding: 16px;
  position: relative;
  border-radius: 8px;
  box-shadow: 2px 4px 8px #cfcfcf;
}

.spanDate {
  font-size: 18px;
}